
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.label-title {

    color: #F5F5F5;
    text-align: center;
    font-size: 20px;
}

.container form input, .container form a, .container button {
    border-radius: 7px;
}

.container form input[type=date] {
    padding-top: 0px;
}

.container form input:focus {
    box-shadow: 0px 0px 4px 3px #403e3f;
}

/* para ficar um bot�o mais elegante */
.btn-success {
    background-color: #252525;
    border-color: #252525 !important;
}

.btn-success:hover, .btn-success:focus {
    transition: 0.3s;
    border-color: #7ac673 !important;
    background-color: #7ac673 !important;
    box-shadow: 0px 0px 4px 0px #252525 !important;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #ee4840 !important;
    border-color: #ee4840;
}

.btn-info, .active {
    background-color: #7ac673 !important;
    border-color: #7ac673 !important;
}

/* estiliza��o do badge */
.badge {
    background-color: #029595;
    font-size: 17px;
    padding: 10px;
}

.badge a {
    margin-left: 3px;
    font-size: 16px;
    color: #f5f5f5;
    text-decoration: none;
}

.badge a:hover, .badge a:focus {
   
   font-size: 17px;
}

.tit-processo-1 {
    color: #ffffff;
    font-size: 16pt;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.2em black;
}

.text-danger {
    font-style: italic;
    color: #e00505;
    font-size: 15px;
    background-color: #ffc6d5;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    padding-left: 28px;
    border-radius: 7px;

}

.btn-terms {

	background-color: #7ac673;
    border-color: #7ac673;
    color: #FFFFFF;

}

.btn-terms:hover, .btn-terms:focus{
	
	background-color: #69bf61;
	 border-color: #69bf61;
	transition: 1s;
}

.terms {
    color: #FFFFFF;
}

a.terms:hover, a.terms:focus {

    transition: 1s;
    color: #7ac673;
}

.h4-title {

    color: #ffffff;
}

.h4-title-1 {

    color: #ffffff;

    text-align: center;
}

.new-passwd {

    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

.new-pass-2{
	
	color:#FFFFFF;
	font-size: 13pt;
	text-align: justify;
	text-shadow: 0.2em 0.2em 0.2em black;
	font-weigth: bolder;
	margin-top: -3px;
}

a.new-passwd:hover, a.new-passwd:focus {
    transition: 0.5s;
    color: #f5f5f5;
    text-decoration: underline #b2b2b2;
    font-size: 19px;
}


a#terms.new-passwd{
	
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}

a#terms.new-passwd:hover, a#terms.new-passwd:focus{
	
	transition: 0.5s;
	color: #f5f5f5;
	text-decoration: underline #b2b2b2;
	font-size: 17px;
}


#ver-perfil, #editar-nome, #editar-tel, #editar-senha, #editar-email, #editar-end {

    text-decoration: none;
}

.heigth {

    margin-top: 13.5%;
}

.btn-login{
	
	background-color: #7ac673;
	color: #ffffff;
}

.btn-login:hover, .btn-login:focus{
	
	background-color: #69bf61;
	transition: 0.5s;
	
	
}


.input-forgot-pass{
	
	border: 1px solid #000000;
}

.btn-close-pass{
	
	background-color: #C0C0C0;
	text-transform: uppercase;
	color: #000000;
	font-family: 'Roboto', sans-Serif;
}

.btn-close-pass:hover, .btn-close-pass:focus{
	
	background-color:#D3D3D3;
	transition: 0.5s;
	color: #000000;
}

.btn-submit-pass{
	
	background-color: #7ac673;
	text-transform: uppercase;
	color: #ffffff;
	
}

.btn-submit-pass:hover, .btn-submit-pass:focus{
	
	background-color: #69bf61;
	transition: 0.5s;
	
}

.btn-close-modal{
	
	margin-top: -22px !important;
	
}

.btn-submit-photo{
	
	background-color: #7ac673;
	padding: 6px;
	margin-top: -5px;
	width: 30%;
	text-transform: uppercase;
	color: #ffffff;
	
}

.btn-submit-photo:hover, .btn-submit-photo:focus{
	
	background-color: #69bf61;
	transition: 0.5s;
	
}






