@charset "UTF-8";

#editar-animal, #btn-remove-animal{
	border-radius: 10px;
	float: right;
}
#editar-animal{
	margin-right: 10px;
}

#imgAnimal{
	width: 70%;
	height: auto;
	border-radius: 15px;
	margin-left: 30px;
}

form a, input[type=submit] {
	border-radius: 10% !important;
}

#detalhes-animal .row h3, #detalhes-animal .row h2, #form-editar form h3 {
	color: #6C98FB;
}
#detalhes-animal .row p {
	font-size: 20px;
}
#detalhes-animal span {
	float: right;
}
#detalhes-animal .btn, #voltar {
	border-radius: 7px;
}
#voltar {
	margin-left: 30px;
	padding: 8.5px;
	padding-left: 10px;
	padding-right: 10px;
}
#info-adotar .badge {
	background-color: #7ac673;
	margin-top: 3px;
	padding: 5px;
	font-size: 14px;
}
body{
	background-color: #FFF8FA !important;
}


/*NOVAS ATTs DA PÁGINA DE DESCRIÇÃO CSS*/

#btn-adotar:hover, #voltar:focus{
	
	background-color: #58b74f !important;
	border-color: #58b74f;
	transition: 1s;
}


h3{
	
	color: #808080 !important;
	letter-spacing: normal !important;
	font-family: 'Roboto', sans-Serif !important;
	font-size: 15pt !important;
	text-transform: uppercase;
}

p{
	
	color:#4F4F4F;

}

#voltar:hover, #voltar:focus{
	
	background-color: #00BFFF;
	border-color: #00BFFF;
}

hr{
	
	border: 0.5px solid #A9A9A9 !important;
}



