@charset "UTF-8";

#editar-animal, #btn-remove-animal, #voltar{
	border-radius: 10px;
	float: right;
}
#editar-animal{
	margin-right: 10px;
}

#imgAnimal{
	width: 90%;
	height: auto;
	border-radius: 15px;
}

form a, input[type=submit] {
	border-radius: 10% !important;
}

#detalhes-animal .row h2, #form-editar form h2{
	color: #6C98FB;
	font-family: roboto, arial;
	
}

#detalhes-animal .row p{
	font-size: 20px;
}

input{
	border-radius: 10px;
}



