@charset "UTF-8";

main {
	margin-top: 70px;
	margin-bottom: 40px;
}
.bg {
	background-image: url(/assets/images/dog-and-cat.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.container {
	width: 100%;
}

.wide {
	height: 100%;
    padding-bottom: 7px;
    padding-top: 7px;
}