@charset "UTF-8";

main {
	margin-top: 80px;
	margin-bottom: 50px;
}
.bg {
	background-image: url(/assets/images/dog-and-cat.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wide {
	height: 100%;
    padding-bottom: 7px;
    padding-top: 7px;
}
.container .bg-form {
	background-color: #bebfc0;
	opacity: 0.8;
	border-radius: 20px;
}
.container .text-style, .container label {
	font-style: italic;
	color: #1d1d1d;
    font-size: 16pt;
}

.container input[type="radio"] {
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -10px;
}
.container label {
	margin-bottom: -10px;
}