@charset "utf8";

.container .conteudo .btn {
	border-radius: 10px;
}
.container img {
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px;
	border: 1px solid white;
}
#btn-voltar {
	display: inline;
}
#title-pag {
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 7px;
}
tr th, tr td {
	text-align: center !important;
}
tbody tr:nth-child(1){
	background-color: #5FD6B5;	
}
tbody tr:nth-child(2){
	background-color: #89D6C2;
}
tbody tr:nth-child(3) {
	background-color: #ADD5C4;
}
tbody tr {
	background-color: #c5c5c5;
}
#customers {
	box-shadow: 0px 0px 7px 2px;
}
#customers td, #customers a {
	padding: 7px;
}
#customers button {
	padding: 8px 13px;
}
.fa-arrow-left {
	font-size: 15px;
}
.fa-check-circle, .fa-exclamation-triangle {
	font-size: 30px;
}
.fa-check-circle {
	color: #7ac673;
}
.fa-exclamation-triangle {
	color: yellow;
}
.fa-user-alt, .fa-star, .fa-calendar-alt, .fa-eye, .fa-trash-alt {
	font-size: 18px;
}