<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<!--Cadastro CSS-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Respostas do Usuário - AmorPet</title>

<!--Página de Cadastro CSS-->
<link rel="stylesheet" th:href="@{/css/cadastro.css}">

<!-- CSS DO FORMULARIO DAS ETAPAS -->
<link rel="stylesheet" th:href="@{/css-quero-adotar/nice-select.css}">
<link rel="stylesheet" th:href="@{/css-quero-adotar/form-etapa.css}">

<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}">
</head>
<body class="bg">

	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<br /> <br />
				<!-- INICIO DO FORM -->
				<h2 class="tit-processo-1">CONFIRMAÇÃO DAS RESPOSTAS DO USUÁRIO
					- ETAPA 2</h2>
				<hr class="colorgraph">
				<div th:if="${listaRespostas}">
					<div id="msg-success" class="alert alert-success"></div>
					<form id="form-confirmacoes" role="form"
						th:action="@{|/adm/selecoes/${idSelecao}/processos/${idProcesso}/respostas|}"
						method="post">
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead>
									<tr class="success">
										<th>Descrição da pergunta</th>
										<th>Resposta do Usuário</th>
										<th>Marque se confere</th>
									</tr>
								</thead>
								<tbody id="info-respostas">
									<tr class="active" th:if="${listaRespostas}"
										th:each="resposta, status : ${listaRespostas}">
										<td th:text="${resposta.idPergunta.descricaoPergunta}"></td>
										<td th:text="${resposta.respostaPergunta} == 'S' ? SIM : NÃO"></td>
										<td><input type="hidden"
											th:value="${resposta.idResposta}"> <span
											class="button-checkbox">
												<button type="button" class="btn btn-success btn-terms"
													data-color="success"></button> <input type="checkbox"
												name="confirmacoes[]" class="hidden" value="S"
												th:tabindex="${status.index}">
										</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr class="colorgraph">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<input type="submit" id="enviar-confirmacoes" value="Enviar"
									class="btn btn-success btn-block btn-lg">
							</div>
							<div class="col-xs-12 col-md-6">
								<input type="reset" id="limpar-confirmacoes" class="btn btn-primary btn-block btn-lg"
									value="Limpar">
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
	</main>

	<div th:replace="conteudo-padrao/footer :: footer"></div>


	<!--Página de Cadastro CSS-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

	<script th:src="@{/js/cadastro.js}"></script>

	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js}"></script>
	<script type="text/javascript">
	
		class Resposta {
			constructor(idResposta) {
				this.idResposta = idResposta;
				this.confirmacaoPergunta = "N";
			}
		}
		
		let confirmacoes = [];
		$("#msg-success").hide();
		
		$(function() {
			iniciarConfirmacoes();
			pegarConfirmacoes();
			limparConfirmacoes();
			enviarConfirmacoes();
		});
		
		function iniciarConfirmacoes() {
			$(".container table #info-respostas tr").each(function() {
				let id = $(this).find("td input[type='hidden']").val();
				confirmacoes.push(new Resposta(id));
			});
		}
		
		function pegarConfirmacoes() {
			$("#info-respostas button").click(function() {
				
				if($(this).parent().find('input[type="checkbox"]').is(':checked')) {
					$(this).parent().parent().parent().toggleClass('active checkbox-marcado');
				}else {
					$(this).parent().parent().parent().addClass('active').removeClass('checkbox-marcado');	
				}
				
				let idResposta = $(this).parent().parent().find("input[type='hidden']").val();
				
				for(let i=0; i < confirmacoes.length; i++) {
					if(confirmacoes[i].idResposta === idResposta) {
						if(confirmacoes[i].confirmacaoPergunta === "S") {							
							confirmacoes[i].confirmacaoPergunta = "N";
						}else {						
							confirmacoes[i].confirmacaoPergunta = "S";
						}
						return;
					}
				}
			});
		}
		
		function limparConfirmacoes() {
			$("#limpar-confirmacoes").click(function() {
				$("#info-respostas tr").each(function() {
					iniciarConfirmacoes();
					$(this).find('input[type="checkbox"]:checked').click();
					$(this).addClass('active').removeClass('checkbox-marcado');
				});
			});
		}
		
		function enviarConfirmacoes() {
			$("#enviar-confirmacoes").click(function() {
				event.preventDefault();
				
				let action = $("#form-confirmacoes").attr("action");
				let confirmacoesJson = JSON.stringify(confirmacoes);
				
				$.ajax({
					url: action,
					method: "POST",
					data: confirmacoesJson,
					contentType : 'application/json; charset=utf-8',
					dataType : 'json'
				}).complete(function() {
					$("html").animate({
						scrollTop: 0
					});
					if(confirmacoes.length > 0) {
						$("#msg-success").html("Salvos com sucesso")
							.delay(600).fadeIn("slow")
							.delay(1000).fadeOut('slow');
					}
				});
			});
		}
		
	</script>
</body>
</html>