<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<!--Cadastro CSS-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Respostas do Usuário - AmorPet</title>

<!--Página de Cadastro CSS-->
<link rel="stylesheet" th:href="@{/css/cadastro.css}">

<!-- CSS DO FORMULARIO DAS ETAPAS -->
<link rel="stylesheet" th:href="@{/css-quero-adotar/nice-select.css}">
<link rel="stylesheet" th:href="@{/css-quero-adotar/form-etapa.css}">

<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}">
</head>
<body class="bg">

	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<br /> <br />
				<!-- INICIO DO FORM -->
				<h2 class="tit-processo-1">PROCESSO ADOTIVO - ETAPA 1</h2>
				<hr class="colorgraph">

				<div th:if="${listaRespostas}">
					<div id="msg-success" class="alert alert-success"></div>
					<form id="form-respostas" role="form"
						th:action="@{|/adm/selecoes/{idSelecao}/processos/{idProcesso}/respostas|}"
						method="post">
						<div class="row bg-form">
							<div class="col-xs-12 col-sm-12 col-md-12"  th:each="resposta, status : ${listaRespostas}">
								<input type="hidden" th:id="|id-pergunta-${status.index}|" th:value="${resposta.idPergunta.idPergunta}">
								<div class="form-inline">
									<div class="col-md-9"
										th:text="${resposta.idPergunta.descricaoPergunta}"></div>
									<label>
										<input type="radio" th:value="S"
											th:name="|resposta-${status.index}|"
											class="form-control input-lg" tabindex="1" disabled> Concordo
									</label>
									<label>
										<input type="radio" th:value="N"
											th:name="|resposta-${status.index}|"
											class="form-control input-lg" tabindex="2" disabled> Discordo
									</label>
								</div>
							</div>
						</div>
						<hr class="colorgraph">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<input type="submit" id="enviar-respostas" value="Enviar"
									class="btn btn-success btn-block btn-lg" tabindex="7">
							</div>
							<div class="col-xs-12 col-md-6">
								<input type="reset" class="btn btn-primary btn-block btn-lg"
									value="Limpar">
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>

	</div>
	</main>

	<div th:replace="conteudo-padrao/footer :: footer"></div>


	<!--Página de Cadastro CSS-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

	<script th:src="@{/js/cadastro.js}"></script>

	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js}"></script>
	<!-- PLUGIN DE SELEC DO NICE-SELECT  -->
	<script th:src="@{/js-quero-adotar/jquery.nice-select.min.js}"></script>
	<script type="text/javascript">
	
		class Resposta {
			constructor(pergunta, respostaPergunta) {
				this.idPergunta = pergunta;
				this.respostaPergunta = respostaPergunta;
			}
		}
		
		class Pergunta {
			constructor(pergunta) {
				this.idPergunta = pergunta;
			}
		}
		
		let respostas = [];
		$("#msg-success").hide();
		
		$(function() {
			$('select').niceSelect();
			pegarRespostas();
			enviarRespostas();
		});
		
		function pegarRespostas() {
			$("#form-respostas input[type='radio']").click(function() {
				
				let pergunta = $(this).parent().parent().parent().find("input[type='hidden']").val();
				let resposta = $(this).val();
				
				let p = new Pergunta(pergunta);
				
				let r = new Resposta(p, resposta);
				
				for(let i=0; i < respostas.length; i++) {
					if(respostas[i].idPergunta.idPergunta === r.idPergunta.idPergunta) {
						respostas[i] = r;
						return;
					}
				}
				respostas.push(r);
			});
		}
		
		function enviarRespostas() {
			$("#enviar-respostas").click(function() {
				event.preventDefault();
				
				let action = $("#form-respostas").attr("action");
				let respostasJson = JSON.stringify(respostas);
				
				$.ajax({
					url: action,
					method: "POST",
					data: respostasJson,
					contentType : 'application/json; charset=utf-8',
					dataType : 'json'
				}).complete(function() {
					if(respostas.length > 0) {
						$("#msg-success").html("Salvos com sucesso").fadeIn("slow").delay(1000).fadeOut('slow');
					}
				});
			});
		}
		
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
			
			let lista = /*[[${listaRespostas}]]*/;
			console.log(lista);
			
		/*]]>*/
	</script>
</body>
</html>