<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<title>Formulario da 2 Etapa</title>

<!--Página de Cadastro CSS-->
  
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/cadastro.css}">
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
<!-- header do usuario -->
<div th:replace="conteudo-padrao/navbar :: navbar"></div>

<br/><br/><br/><br/>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" th:style="|background-image: url(@{/assets/images/doguinho.jpg});|">
	<div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left mbr-after-navbar">
		 <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);"></div>
		    <div class="mbr-box__container mbr-section__container container">
<section>
<div class="position">
        <div class="container">
<br/>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <!-- INICIO DO FORM -->
        <form role="form">
            <h2 class="tit-processo-1">PROCESSO ADOTIVO - ETAPA 2</h2>
            <hr class="colorgraph">
            <div class="form-group">
            	<label class="tit-processo-1">Qual idade da pessoa que ficará responsável?</label><br>
                <input type="number" class="form-control input-lg" min="18" placeholder="Idade do responsável em caso de ausência" tabindex="4">
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">Nome da pessoa que ficará responsável?</label>
            	<input type="text" class="form-control input-lg" placeholder="Nome do responsável em caso de ausência" tabindex="4">
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">Telefone</label>
            	<input type="text" class="form-control input-lg" placeholder="Telefone do responsável em caso de ausência" tabindex="4">
            </div>
            <h3 class="tit-processo-1">CASA</h3>
            <div class="form-group">
            	<label class="tit-processo-1">Tem muros altos?</label>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">SIM</span>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">NÃO</span>
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">Tem janelas?</label>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">SIM</span>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">NÃO</span>
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">Possui telas protetoras?</label>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">SIM</span>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">NÃO</span>
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">Tem portões vedados, que impeçam alguma fuga?</label><br>
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">SIM</span>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">NÃO</span>
            </div>
            <hr>
            <h3 class="tit-processo-1">APARTAMENTO</h3>
            <div class="form-group">
            	<label class="tit-processo-1">Possui telas protetoras?</label>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">SIM</span>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">NÃO</span>
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">O condomínio permite animais?</label>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">SIM</span>&nbsp;&nbsp;
            	<input type="radio" name="opc_muro">&nbsp;<span class="tit-processo-1">NÃO</span>
            </div>
            <div class="form-group">
            	<label class="tit-processo-1">Qual andar?</label>
            	<select class="form-control">
            		<option value="0">Térreo</option>
            		<option value="1">1º Andar</option>
            		<option value="2">2º Andar</option>
            		<option value="3">3º Andar ou mais</option>
            	</select>
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" value="Enviar" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
                <div class="col-xs-12 col-md-6"><input type="reset" class="btn btn-primary btn-block btn-lg" value="Limpar"></div>
            </div>
        </form>
    </div>
</div>

</div>
</div>
</section>
<br/><br/>
</div>
</div>
</section>

<!-- FOOTER -->
<div th:replace="conteudo-padrao/footer :: footer"></div>

<!-- JAVASCRIPT -->
<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

<script src="js/cadastro.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script type="text/javascript">
    $("#celular").mask("(00) 0.0000-0000");
  </script>
</body>
</html>