<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<!--Cadastro CSS-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Quero Adotar - AmorPet</title>

<!--Página de Cadastro CSS-->
<link rel="stylesheet" th:href="@{/css/cadastro.css}">

<!-- CSS DO FORMULARIO DAS ETAPAS -->
<link rel="stylesheet" th:href="@{/css-quero-adotar/nice-select.css}">
<link rel="stylesheet" th:href="@{/css-quero-adotar/form-etapa.css}">

<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}">
</head>
<body class="bg">

	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<br /> <br />
				<!-- INICIO DO FORM -->
				<h2 class="tit-processo-1">PROCESSO ADOTIVO - ETAPA 1</h2>
				<hr class="colorgraph">

				<div th:if="${listaRespostas}">
					<div id="msg-success" class="alert alert-success"></div>
					<form id="form-respostas" role="form"
						th:action="@{|/user/quero-adotar/${idAnimal}/etapa/1|}"
						method="post">
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead>
									<tr class="success">
										<th>Descrição da pergunta</th>
										<th>Sim</th>
										<th>Não</th>
									</tr>
								</thead>
								<tbody id="info-respostas">
									<tr class="active" th:if="${listaRespostas}"
										th:each="resposta, status : ${listaRespostas}">
										<td th:text="${resposta.idPergunta.descricaoPergunta}"></td>
										<td class="hidden">
											<input type="hidden"
												th:value="${resposta.idPergunta.idPergunta}">
										</td>
										<td>
											<span
												class="button-checkbox">
												<button type="button" class="btn btn-success btn-terms"
													data-color="success" title="sim"></button>
												<input type="checkbox"
													th:name="|respostas-${status.index}|" class="hidden" value="S"
													th:tabindex="${status.index}">
											</span>
										</td>
										<td>
											<span
												class="button-checkbox">
												<button type="button" class="btn btn-success btn-terms"
													data-color="success" title="não"></button>
												<input type="checkbox"
													th:name="|respostas-${status.index}|" class="hidden" value="N"
													th:tabindex="${status.index}">
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr class="colorgraph">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<input type="submit" id="enviar-respostas" value="Enviar"
									class="btn btn-success btn-block btn-lg">
							</div>
							<div class="col-xs-12 col-md-6">
								<input type="reset" id="limpar-respostas" class="btn btn-primary btn-block btn-lg"
									value="Limpar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	</main>

	<div th:replace="conteudo-padrao/footer :: footer"></div>


	<!--Página de Cadastro CSS-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

	<script th:src="@{/js/cadastro.js}"></script>

	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js}"></script>
	<script type="text/javascript">
	
		class Resposta {
			constructor(pergunta, respostaPergunta) {
				this.idPergunta = pergunta;
				this.respostaPergunta = respostaPergunta;
			}
		}
		
		class Pergunta {
			constructor(pergunta) {
				this.idPergunta = pergunta;
			}
		}
		
		let respostas = [];
		$("#msg-success").hide();
		
		$(function() {
			pegarRespostas();
			limparRespostas();			
			enviarRespostas();
		});
		
		function pegarRespostas() {
			$("#info-respostas button").click(function() {

				let pergunta = $(this).parent().parent().parent().find('input[type="hidden"]').val();
				let checkbox = $(this).parent().find('input[type="checkbox"]');
				
				if(checkbox.is(':checked')) {
					$(this).parent().parent().parent().removeClass('active').addClass('checkbox-marcado');
					let outroCheck = checkbox.parent().parent().siblings().find('input[type="checkbox"]');
					if(outroCheck.is(':checked')) {
						outroCheck.click();
					}
				}else {
					$(this).parent().parent().parent().addClass('active').removeClass('checkbox-marcado');
				}
				
				let resposta = checkbox.val()
				
				let p = new Pergunta(pergunta);
				
				let r = new Resposta(p, resposta);
				
				for(let i=0; i < respostas.length; i++) {
					if(respostas[i].idPergunta.idPergunta === r.idPergunta.idPergunta) {
						respostas[i] = r;
						return;
					}
				}
				respostas.push(r);
			});
		}
		
		function limparRespostas() {
			$("#limpar-respostas").click(function() {
				$("#info-respostas tr").each(function() {
					respostas = [];
					$(this).find('input[type="checkbox"]:checked').click();
					$(this).addClass('active').removeClass('checkbox-marcado');
				});
			});
		}
		
		function enviarRespostas() {
			$("#enviar-respostas").click(function() {
				event.preventDefault();
				
				let action = $("#form-respostas").attr("action");
				let respostasJson = JSON.stringify(respostas);
				
				$.ajax({
					url: action,
					method: "POST",
					data: respostasJson,
					contentType : 'application/json; charset=utf-8',
					dataType : 'json'
				}).complete(function() {
					$("html").animate({
						scrollTop: 0
					});
					if(respostas.length > 0) {
						$("#msg-success").html("Salvos com sucesso").fadeIn("slow").delay(1000).fadeOut('slow');
					}
				});
			});
		}
		
	</script>
</body>
</html>