<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<!--Cadastro CSS-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Quero Adotar - AmorPet</title>

<!--Página de Cadastro CSS-->
<link rel="stylesheet" th:href="@{/css/cadastro.css}">

<!-- CSS DO FORMULARIO DAS ETAPAS -->
<link rel="stylesheet" th:href="@{/css-quero-adotar/nice-select.css}">
<link rel="stylesheet" th:href="@{/css-quero-adotar/form-etapa.css}">
</head>
<body class="bg">

	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-2">
				<br /> <br />
				<!-- INICIO DO FORM -->
				<form role="form"
					th:action="@{|/user/quero-adotar/${idAnimal}/cadastro/endereco|}"
					th:object="${endereco}" method="post">
					<h2 class="tit-processo-1">PROCESSO ADOTIVO - CADASTRO DE
						ENDEREÇO</h2>
					<hr class="colorgraph">

					<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('logradouro')}"
									th:errors="*{logradouro}" class="text-danger"></div>
								<input type="text" th:field="*{logradouro}"
									class="form-control input-lg " placeholder="Logradouro"
									tabindex="1">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('numero')}"
									th:errors="*{numero}" class="text-danger"></div>
								<input type="text" th:field="*{numero}" maxlength="4"
									class="form-control input-lg" placeholder="Número" tabindex="2">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('complemento')}"
									th:errors="*{complemento}" class="text-danger"></div>
								<input type="text" th:field="*{complemento}"
									class="form-control input-lg" placeholder="Complemento"
									maxlength="60" tabindex="3">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('bairro')}"
									th:errors="*{bairro}" class="text-danger"></div>
								<input type="text" th:field="*{bairro}"
									class="form-control input-lg" placeholder="Bairro" tabindex="4">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('cidade')}"
									th:errors="*{cidade}" class="text-danger"></div>
								<input type="text" th:field="*{cidade}"
									class="form-control input-lg " placeholder="Cidade"
									tabindex="5">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"
									class="text-danger"></div>
								<input type="text" th:field="*{cep}" maxlength="8"
									class="form-control input-lg " placeholder="CEP" tabindex="7">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${#fields.hasErrors('estado')}"
									th:errors="*{estado}" class="text-danger"></div>
								<select class="wide" th:field="*{estado}">
									<option th:value="''" data-display="Selecione Estado">Selecione
										Estado</option>
									<option th:each="estado : ${estados}" th:value="${estado}"
										th:text="${estado.toString()}"></option>
								</select>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group">
								<div th:if="${erroResidencia}" th:text="${erroResidencia}"
									class="text-danger"></div>
								<select class="wide" th:field="*{residencia.idResidencia}">
									<option th:value="''"
										data-display="Reside em casa ou
									apartamento?">Reside
										em casa ou apartamento?</option>
									<option th:each="residencia : ${listaResidencias}"
										th:unless="${residencia.tipoResidencia} == 'Todos'"
										th:value="${residencia.idResidencia}"
										th:text="${residencia.tipoResidencia}"></option>
								</select>
							</div>
						</div>
					</div>

					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<input type="submit" value="Enviar"
								class="btn btn-success btn-block btn-lg" tabindex="10">
						</div>
						<div class="col-xs-12 col-md-6">
							<input type="reset" class="btn btn-primary btn-block btn-lg"
								value="Limpar" tabindex="11">
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	</main>

	<div th:replace="conteudo-padrao/footer :: footer"></div>


	<!--Página de Cadastro CSS-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

	<script th:src="@{/js/cadastro.js}"></script>

	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js}"></script>
	<!-- PLUGIN DE SELEC DO NICE-SELECT  -->
	<script th:src="@{/js-quero-adotar/jquery.nice-select.min.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('select').niceSelect();
		});
	</script>
</body>
</html>