<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css-quero-adotar/descricaoAnimal.css}">
<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<title>Home</title>
</head>
<body>
	<div th:replace="conteudo-padrao/navbar :: navbar"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<section>
	
		<!-- MODAL DE REMOVER ANIMAL -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="remocao">Remoção do Animal</h4>
					</div>
					<div class="modal-body">
						<form id="form-remove-animal" action="|/adm/remover/animal/|"
							method="post" role="form">
							<div class="form-group">
								<label for="recipient-name" class="control-label">Senha:</label>
								<input type="password" name="senhaAdm" class="form-control"
									id="senha">
							</div>
							<div class="form-group">
								<label for="message-text" class="control-label">Motivo
									da remoção</label>
								<textarea name="motivo" class="form-control" id="message-text"></textarea>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cancelar</button>
								<button type="submit" class="btn btn-danger">Remover</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
			<div>
				<a th:href="@{/adotar}">
    		 <button id="voltar" class="btn btn-success">Voltar</button>
				</a>
				</div>
		<div class="mbr-section__container container">
			<div class="mbr-contacts mbr-contacts--wysiwyg row"
				style="padding-top: 30px; padding-bottom: 45px;">
				<div class="" th:if="${error}" th:text="${error}"></div>
				<div class="alert alert-danger" th:if="${errorEditar}"
					th:each="err : ${errorEditar}" th:text="${err.getDefaultMessage()}"></div>
				<div class="alert alert-success" th:if="${sucessoEditar}"
					th:text="${sucessoEditar}"></div>

				<div th:if="${animal}">
					<div class="col-sm-6">
						<div>
							<img th:src="${animal.caminhoFoto}" id="imgAnimal"
								class="mbr-contacts__img mbr-contacts__img--left">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div id="detalhes-animal">
								<div class="row">
									<div class="col-sm-6">
										<h2>
											Nome: 
										</h2>
										<p th:text="${animal.nome}"></p>
									</div>
										<div class="col-sm-6">
										<h2>
											Tipo: 
										</h2>
										<p th:text="${animal.tipoAnimal}"></p>
									</div>
								</div>
								<div class="row">
								
									<div class="col-sm-6">
										<h2>
										Sexo: 
										</h2>
										<p th:text="${animal.sexoAnimal}"></p>
									</div>
									<div class="col-sm-6">
									<h2>
										Porte: 
									</h2>
									<p th:text="${animal.porteAnimal}"></p>
								</div>
								<div class="col-sm-6">
									<h2>
									Idade: 
									</h2>
									<p th:text="${idadeAnimal}"></p>
								</div>
								</div>
								
								<div class="row">
									<div class="col-sm-12">
										<h2>Descrição</h2>
										<p th:text="${animal.historiaAnimal}"></p>
									</div>
									<div>
										<div th:if="${session.usuarioLogado}">
											<button th:if="${session.usuarioLogado.role} == 'ROLE_ADMIN'"
													 id="btn-remove-animal" type="button"
													th:value="${animal.idAnimal}" class="btn btn-primary"
													data-toggle="modal" data-target="#exampleModal">Remover</button>
											
											<button th:if="${session.usuarioLogado.role} == 'ROLE_ADMIN'"
											 id="editar-animal" class="btn btn-success">Editar</button>
											 
											<a th:if="${session.usuarioLogado.role} == 'ROLE_USER'"
												class="btn btn-info" th:href="|/user/quero-adotar/${animal.idAnimal}|">ADOTAR</a>
										</div>
									</div>
								</div>
						</div>
						<div class="row" id="form-editar">
								<div class="col-sm-12">
									<form th:object="${animal}" th:action="@{/adm/editar/animal}"
										method="post">
										<input type="hidden" th:field="*{idAnimal}"> 
										<label><h2>Nome:</h2></label>
										<input type="text" th:field="*{nome}" name="nome"><br>

										<label><h2>Idade:</h2></label> <input type="date"
											th:field="*{dataNascimento}" name="dataNascimento"><br> 
											
										<label><h2>Sexo:</h2></label>
										<input type="radio" th:field="*{sexoAnimal}" name="sexo"
											value="Macho" id="macho"> <label for="macho">Macho</label>
										<input type="radio" th:field="*{sexoAnimal}" name="sexo"
											value="Femea" id="femea"> <label for="femea">Fêmea</label><br>

										<label><h2>Porte do Animal:</h2></label> <input type="radio"
											th:field="*{porteAnimal}" value="Medio" id="medio"> <label
											for="medio">Médio</label> <input type="radio"
											th:field="*{porteAnimal}" value="Grande" id="grande">
										<label for="grande">Grande</label> <input type="radio"
											th:field="*{porteAnimal}" value="Pequeno" id="pequeno">
										<label for="pequeno">Pequeno</label> <label><h2>Tipo
												do Animal:</h2></label> <input type="radio" th:field="*{tipoAnimal}"
											value="Cachorro" id="cachorro"> <label for="cachorro">Cachorro</label>
										<input type="radio" th:field="*{tipoAnimal}" value="Gato"
											id="gato"> <label for="gato">Gato</label><br> 
											<label><h2>Descrição:</h2>
										</label><br> <input type="hidden" th:field="*{caminhoFoto}">
										<textarea th:field="*{historiaAnimal}" rows="5" cols="70"></textarea>

										<input class="btn btn-success" type="submit" name="Alterar"
											value="Salvar"> <a class="btn btn-danger">Cancelar</a>
									</form>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

	<div th:replace="conteudo-padrao/footer :: footer"></div>

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>
	<script th:src="@{/js-quero-adotar/quero-adotar.js}"></script>
	<script type="text/javascript">
		$("#form-editar").hide();
		$("#editar-animal").click(function() {
			$("#detalhes-animal").hide();
			$("#form-editar").fadeIn('slow');
		});
		$("#form-editar a").click(function() {
			$("#form-editar").hide();
			$("#detalhes-animal").fadeIn('slow');
		});
	</script>
	<script th:inline="javascript">
		$("#btn-remove-animal").click(
				function() {
					let valorBtn = $(this).val();
					$("#form-remove-animal").attr("action",
							"/adm/remover/animal/" + valorBtn);
				});
		$('#exampleModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var recipient = button.data('whatever') // Extract info from data-* attributes
			// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
			// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var modal = $(this)
			modal.find('.modal-title').text('New message to ' + recipient)
			modal.find('.modal-body input').val(recipient);

		});
	</script>

</body>
</html>