<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:replace="conteudo-padrao/estilos :: estilos-padrao">
  
  <title>Home</title>
   
  <style>
  	button, a {
  		float: right;
  		border-radius: 10% !important;
  	}
  	form a, input[type=submit] {
  		border-radius: 10% !important;
  	}
  </style>
  
</head>
<body>
<div th:replace="conteudo-padrao/navbar :: navbar"></div>

<br><br><br><br><br><br><br>
<section>
  <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 30px; padding-bottom: 45px;">
            <div class="col-sm-6">
                <div><img src="img/foto-gato.jpg" class="mbr-contacts__img mbr-contacts__img--left"></div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                  <div id="detalhes-animal">
                      <div class="row">
                        <div class="col-sm-12">
                          <button id="editar-animal" class="btn btn-success">Editar</button>
                          <h1>Nome</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h3>Idade</h3>
                        </div>
                        <div class="col-sm-3">
                          <h3>Sexo</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <h3>Descrição</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula neque vitae nisi vulputate dictum. Suspendisse lacinia est in nisl gravida dictum. Etiam ultricies, sem in finibus ultricies, libero velit finibus libero, a venenatis libero diam a nunc. Praesent eros nisl, sagittis ut nulla id, pellentesque gravida ipsum. Nam vel nunc a metus molestie euismod. Sed sed ex vel augue convallis rhoncus. Cras enim enim, volutpat a dui eu, porta finibus ante. Proin at purus ante. Nunc volutpat euismod elit. Ut elementum mi sed tincidunt auctor.</p>
                        </div>
                      	<a class="btn btn-info" th:href="@{/quero-adotar/parte-1}">ADOTAR</a>
                      </div>
                  </div>
                      <div class="row" id="form-editar">
                        <div class="col-sm-12">
                          <form>
                            <label><h1>Nome: </h1></label>
                            <input type="text" name="nome"><br>
                            <label><h3>Idade: </h3></label>
                            <input type="number" name="idade">
                            <label><h3>Sexo: </h3></label>
                            M <input type="radio" name="sexo" value="M">
                            F <input type="radio" name="sexo" value="F"><br>
                            <label>Descrição: </label><br>
                            <textarea rows="5" cols="70"></textarea>
                            <input class="btn btn-success" type="submit" name="Alterar" value="Salvar">
                            <a class="btn btn-danger">Cancelar</a>
                          </form>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="conteudo-padrao/footer :: footer"></div>

<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>
  
  <script type="text/javascript">

    $("#form-editar").hide();
    $("#editar-animal").click(function() {
      $("#detalhes-animal").hide();
      $("#form-editar").fadeIn('slow');
    });
    $("#form-editar").find('a').click(function() {
      $("#form-editar").hide();
      $("#detalhes-animal").fadeIn('slow');
    });
  </script>
  
</body>
</html>