<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

        <!--Cadastro CSS-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Realizar Login</title>

<!--Página de Cadastro CSS-->
  
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro.css}">

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
        

    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

 


</head>
<body>
<div th:replace="conteudo-padrao/navbar :: navbar"></div>

<br/><br/><br/><br/>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" th:style="|background-image: url(@{/img/animais/wallpaper-dog.jpg});|"><br/><br/><br/><br/>

   
<div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
	        <form role="form" th:action="@{/login}" method="post">
	            <h2 class="tit-processo-1">DADOS DE LOGIN:</h2>
	            <hr class="colorgraph">
	            <div th:if="${mensagemError}" th:text="${mensagemError}" class="text-danger"></div>
	            <div class="form-group">
	                <input type="email" th:value="${email}" name="email" id="email" class="form-control input-lg" placeholder="Endereço de e-mail" tabindex="1">
	            </div>
	           
	            <div class="form-group">
	                <input type="password" name="senha" id="senha" class="form-control input-lg" placeholder="Senha" tabindex="2" required="required" minlength="8">
	            </div>
	      			      
	            <hr class="colorgraph">
	            <div class="row">
	                <div class="col-xs-12 col-md-12"><input type="submit" class="btn btn-success btn-block btn-lg" value="Entrar" tabindex="3"></div>
	            </div>
	            <br>
				<div class="row">
	            	<div class="col-xs-12 col-md-12"><a href="#" class="forgot-pass-answer new-passwd" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" tabindex="4">Esqueceu a senha?</a></div>
	        		<div class="col-xs-12 col-md-12"><a th:href="@{/cadastro}" class="forgot-pass-answer new-passwd" type="submit" tabindex="5">Não tem conta? Cadastre-se</a></div>
	        	</div>
	        </form>
	    </div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Insira seu email e enviaremos o passo a passo para a recuperação de senha.</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">E-mail:</label>
	            <input type="email" class="form-control" id="recipient-name" >
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
	        <button type="button" class="btn btn-success">Enviar</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- ---------Modal Error----------------------------- -->
	<div class="modal fade" id="mensagemError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	    	<span th:text="mensagemErro">
	    	</span>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</section>

<div th:replace="conteudo-padrao/footer :: footer"></div>

<!--Página de Cadastro CSS-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

  <script th:src="@{/js/cadastro.js}"></script>

  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js}"></script>

  <script type="text/javascript">
	
  </script>
</body>
</html>