<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:replace="conteudo-padrao/estilos :: estilos-padrao">
  
  <title>Quem Somos</title>
  
<link rel="stylesheet" type="text/css" href="cssMapa/estilo.css">

  
  
  
</head>
<body>
<div th:replace="conteudo-padrao/navbar :: navbar"></div>

<section class="engine"><a href="https://mobirise.info/r">free bootstrap templates</a></section><section class="mbr-section mbr-section--relative mbr-section--short-paddings mbr-after-navbar" id="msg-box2-a" data-rv-view="9" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 60px; padding-bottom: 60px;">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__left col-sm-8">
                    <div class="mbr-section__container">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">Localizar ONG</h3>
                        </div>
                    </div>
                    
                </div>
                <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__right col-sm-4">
                    
                </div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-b" data-rv-view="12" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">

        <div id="site">
        
            <form method="post" action="mapa.html">
                <fieldset>
        
                    <div>
                        <label for="txtEnderecoPartida">
                        Sua localização:</label>
                        <input type="text" id="txtEnderecoPartida" name="txtEnderecoPartida" />
                    </div>
                    
                    <div>
                        <label for="txtEnderecoChegada">Endereço da ONG:</label>
                        <input type="text" id="txtEnderecoChegada" name="txtEnderecoChegada" value="Av. Barão de Lucena, 251 - Centro, Jaboatão dos Guararapes - PE, 54110-051" readonly />
                    </div>
                    
                    <div>
                        <input type="submit" id="btnEnviar" name="btnEnviar" value="Enviar" />
                    </div>
                </fieldset>
            </form>
        
            <div id="mapa"></div>
            
            <!--div id="trajeto-texto"-->
        
        </div>
        
        <script src="jsMapa/jquery.min.js"></script>
        
        <!-- Maps API Javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrGuqtf1W915gLustAO5bcT_uYOtJfk_0&callback=initMap&libraries=places&callback=initMap"></script>
 
        <!-- Arquivo de inicialização do mapa -->
        <script src="jsMapa/mapa.js"></script>




    </div></div></div>
</section>

<div th:replace="conteudo-padrao/footer :: footer"></div>


<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>
  
  
</body>
</html>





























