<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:replace="conteudo-padrao/estilos :: estilos-padrao">
  
  <title>Termos de adoção</title>
  
</head>
<body>
<div th:replace="conteudo-padrao/navbar :: navbar"></div>

<section class="engine"><a href="https://mobirise.info/r">free bootstrap templates</a></section><section class="mbr-section mbr-section--relative mbr-section--short-paddings mbr-after-navbar" id="msg-box2-a" data-rv-view="9" style="background-color: rgb(255, 255, 255);">

<div class="mbr-section__container mbr-section__container--isolated container menu" style="padding-top: 60px; padding-bottom: 60px;">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__left col-sm-8">
                    <div class="mbr-section__container">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">COMO NAVEGAR NO SITE?</h3>
                        </div>
                    </div>
                    
                </div>
                <div class="mbr-box__magnet mbr-box__magnet--top-left mbr-section__right col-sm-4">
                    
                </div>
            </div>
        </div>
    </div>

</section>

 
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-b" data-rv-view="12" style="background-color: rgb(255, 255, 255);">
    
  <!--  <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">&nbsp;NOSSA MISSÃO</h3>
                
            </div>
        </div>
    </div>-->
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>Esta área do site é destinada a quem possui dúvidas sobre a navegação na plataforma. Aqui nós o auxiliamos e explicamos as funcionalidades para proporcionar a melhor experiência possível para você.<br></p></div>
        </div>
    </div>
   
</section>
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-d" data-rv-view="15" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">&nbsp;DESEJA ENTRAR EM CONTATO CONOSCO? ENVIE-NOS UM E-MAIL</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
             
             <p>Nosso email está presente no rodapé da página, então basta ir até o final da página. Lá você encontrará o contato de suporte da plataforma, <b>E-mail</b> e <b>Telefone</b>, além de nosso <b>endereço presencial</b>.</p>

             <p><strong>OBSERVAÇÃO:</strong> você também pode usar a opção abaixo para ser direcionado até nossos endereços. Basta clicar no botão <b>CONTATO</b> abaixo:</p>
        </div>
        </div>
    </div>
     <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-success" href="#endereco">CONTATO</a></div>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-d" data-rv-view="15" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">&nbsp;COMO SE CADASTRAR? E POR QUE?</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
             
              <p>Para se cadastrar em nosso site, você deve clicar no botãozinho presente em nosso <b>Menu de Navegação</b> que possui o nome <b>ENTRAR</b>. Ao clicar nele, você verá duas opções aparecerem na tela, que são <b>ENTRAR</b> e <b>CADASTRAR</b>, então basta clicar em <b>CADASTRAR</b>. Você será direcionado para uma página onde preencherá um formulário de informações básicas e ao clicar em <b>REGISTRAR</b> você já estará cadastrado em nosso site.</p><br/>

              <h4 class="mbr-header__text" >POR QUE SE CADASTRAR?</h4><br/>
             
             <ul>
      <li>Para participar do Processo Seletivo de Adoção é necessário ter um cadastro com informações válidas.</li>
      <li>Através do cadastro você acompanha todo o processo de adoção do animalzinho que escolheu.</li>
        </ul>
        </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-success" th:href="@{/cadastro}">CADASTRO</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-d" data-rv-view="15" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">&nbsp;CONCLUÍ MEU CADASTRO, O QUE FAZER AGORA?</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
           
           <p>Agora que concluiu seu cadastro e recebeu o e-mail de confirmação, basta ir até o <b>Menu de Navegação</b> e clicar no botão <b>ENTRAR</b>, onde aparecem duas opções: <b>ENTRAR</b> e <b>CADASTRE-SE</b>. Você clicará no botão <b>ENTRAR</b> e será redirecionado para a página onde conterá um formulário de Login para que entre em sua conta.</p>

            <p><strong>OBSERVAÇÃO:</strong> você também pode usar a opção abaixo para ser direcionado até a página de Login. Basta clicar no botão <b>ENTRAR</b> abaixo:</p>
        </div>
    </div>
   
  </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-success" th:href="@{/login}">ENTRAR</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-d" data-rv-view="15" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">&nbsp;QUAIS SÃO OS TERMOS DE ADOÇÃO?</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">

<p>Você pode encontrar os nossos <b>Termos de Adoção</b> clicando no botão <b>COMO FUNCIONA?</b> presente em nosso <b>Menu de Navegação</b>, onde aparecerão dois outros botões <b>TERMOS DE ADOÇÃO</b> e <b>COMO NAVEGAR</b>, basta clicar na primeira opção. Você será direcionado para a página contendo os Termos de Adoção.</p>

<p><strong>OBSERVAÇÃO:</strong> você também pode usar a opção abaixo para ser direcionado até os termos de adoção. Basta clicar no botão <b>TERMOS DE ADOÇÃO</b> abaixo:</p>
  </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-success" th:href="@{/termos}">TERMOS DE ADOÇÃO</a></div>
            </div>
        </div>
    </div>    
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-d" data-rv-view="15" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">&nbsp;QUER SABER MAIS SOBRE AS NOSSAS ATIVIDADES?</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">

<p>Para saber mais sobre as atividades realizadas por nossa organização, basta clicar no botão <b>QUEM SOMOS</b> presente no <b>Menu de Navegação</b>. Você será direcionado à uma página contendo informações acerca dos desenvolvedores e das atividades de nossa plataforma.</p>

<p><strong>OBSERVAÇÃO:</strong> você também pode usar a opção abaixo para ser direcionado até as nossas informações. Basta clicar no botão <b>QUEM SOMOS</b> abaixo:</p>
  </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-success" th:href="@{/quem-somos}">QUEM SOMOS</a></div>
            </div>
        </div>
    </div>    
</section>

<div th:replace="conteudo-padrao/footer :: footer"></div>


<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>
  
  
</body>
</html>