<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link th:replace="conteudo-padrao/estilos :: estilos-padrao">
<title>Perfil</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/cadastro.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/perfil.css}"
	media="all">
	<!-- CSS DO FORMULARIO DAS ETAPAS -->
<link rel="stylesheet" th:href="@{/css-quero-adotar/nice-select.css}">


</head>
<body>
	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<section>
		<div class="container" id="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="list-group">
						<a th:href="@{/user/perfil}"
							class="list-group-item list-group-item-info" id="btn-ver-perfil">
							<span class="glyphicon glyphicon-user"></span><span
							class="linha-marca">Perfil</span>
						</a> <a th:href="@{/user/perfil/editar}" class="list-group-item"
							id="btn-editar-perfil"> <span
							class="glyphicon glyphicon-edit"></span><span>Editar
								Perfil</span>
						</a>
					</div>
					<!-- Botão para acionar modal -->
					<button type="button" id="btn-desativar-conta"
						class="btn btn-danger" data-toggle="modal"
						data-target="#modalExemplo">Desativar Conta</button>

					<!-- Modal -->
					<div class="modal fade" id="modalExemplo" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
									<h5 class="desativar">Confirmar de Desativação</h5>

								</div>
								<div class="modal-body">
									<form method="post" th:action="@{/user/desativarConta}">
										<div class="form-group">
											<label for="recipient-name" class="col-form-label">Senha</label>
											<input type="password" name="hashSenha" id="password"
												class="form-control input-lg" placeholder="Senha"
												tabindex="5" minlength="8"> <label
												for="recipient-name" class="col-form-label">Confirmar
												senhar</label> <input type="password" name="confirmaSenha"
												id="password_confirmation" class="form-control input-lg"
												placeholder="Confirmar Senha" tabindex="6" minlength="8">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Fechar</button>
											<button type="submit" class="btn btn-danger">Desativar
												Conta</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<!-- INICIO DADOS DO PERFIL -->
					<div class="col-sm-10" id="dados-perfil">
						<div class="row">
							<h4 class="page-header">Perfil</h4>
						</div>
						<div class="row">
							<div class="row">
								<div class="col-sm-6">
									<img
										th:src="${usuario.caminhoFoto} != null ? ${usuario.caminhoFoto} : @{/img/thanos.jpg}"
										id="preview-img">
									<form role="form" enctype="multipart/form-data"
										th:action="@{/user/perfil}" method="post">
										<div class='input-wrapper'>
											<div class="col-sm-7" id="btns-foto">
												<label for="btn-foto" title="Salvar"><i
													class="fas fa-check-circle"></i></label> <input type="submit"
													id="btn-foto" class="btn btn-success" value="salvar">

												<label for="reset-foto" title="Cancelar"><i
													class="fas fa-times-circle"></i></label> <input hidden="hidden"
													type="reset" id="reset-foto" onclick="location.reload();"
													class="btn btn-info">
											</div>

											<div class="col-sm-12">
												<input id="foto-usuario" type="file" name="file" /> <label
													for="foto-usuario"><span
													class="glyphicon glyphicon-open"></span> Adicionar foto</label>

												<div th:if="${errorSalvarFoto}" th:text="${errorSalvarFoto}"></div>
											</div>
										</div>
									</form>
								</div>
								<div class="col-sm-6">
									<label for="username" class="col-4 col-form-label">Nome</label>
									<p th:text="${usuario.nome}"></p>
									<label for="name" class="col-4 col-form-label">Email</label>
									<p th:text="${usuario.email}"></p>
									<label for="lastname" class="col-4 col-form-label">Telefone</label>
									<p th:text="${usuario.telefone}"></p>
									<label for="text" class="col-4 col-form-label">Endereço</label>
									<div th:with="end = ${usuario.endereco.logradouro} != null and
										${usuario.endereco.numero} != null and ${usuario.endereco.complemento} != null">
										<div th:if="${end}">
											<p th:text="${usuario.endereco.logradouro}"></p>
											<p th:text="${usuario.endereco.numero}"></p>
											<p th:text="${usuario.endereco.complemento}"></p>
										</div>
									<div th:unless="${end}">Você ainda não preencheu o endereço</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- INICIO FORM ALTERAR PERFIL -->
					<div class="col-sm-12" id="form-perfil">
						<div class="row">
							<div class="col-sm-10">
								<div class="row">
									<h4 class="page-header">Editar Perfil</h4>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<form th:action="@{/user/perfil/editar}"
											th:object="${usuario}" method="post">
											<div th:if="${listaErrors}" th:each="err : ${listaErrors}"
												th:text="${err.toString()}" class="text-danger"></div>
											<div th:if="${errorIdade}" th:text="${errorIdade}"
												class="text-danger"></div>
											<div th:if="${error}" th:text="${error}" class="text-danger"></div>
											<div th:if="${sucesso}" th:text="${sucesso}"
												class="alert alert-success"></div>
											<div class="row">
												<div class="form-group">
													<!-- form de NOME -->
													<div class="col-sm-12">
														<label for="nome" class="col-form-label">Nome</label> <span
															class="glyphicon glyphicon-pencil"></span> <input
															type="text" th:field="*{nome}" class="form-control"
															placeholder="Digite seu nome" aria-describedby="Nome">
													</div>
													<!--  form de data de nascimento -->
													<div class="col-sm-12">
														<label for="nome" class="col-form-label">Data de
															Nascimento</label> <span class="glyphicon glyphicon-pencil"></span>
														<input type="date" th:field="*{dataNascimento}"
															class="form-control"
															aria-describedby="data de nascimento">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-sm-12">
														<label for="telefone" class="col-form-label">Telefone:</label>
														<span class="glyphicon glyphicon-pencil"></span> <input
															type="text" th:value="*{telefone}" name="telefone"
															id="celular" class="form-control"
															placeholder="Digite seu telefone"
															aria-describedby="Telefone">
													</div>
												</div>
											</div>
											<!-- form de ENDEREÇO -->
											<div class="row">
												<label for="endereço" class="col-form-label">Endereço</label>
												<span class="glyphicon glyphicon-pencil"></span>
												<div class="form-group">

													<div class="col-sm-12">
														<label for="rua" class="col-4 col-form-label">Logradouro</label>
														<input type="text" th:field="*{endereco.logradouro}"
															class="form-control" maxlength="60" placeholder="Logradouro"
															aria-describedby="Logradouro">
													</div>

													<div class="col-sm-6">
														<label for="numero da casa" class="col-4 col-form-label">Nº
															da Casa</label> <input type="text" th:field="*{endereco.numero}"
															class="form-control" maxlength="20" placeholder="Número da casa"
															aria-describedby="Numero da casa">
													</div>

													<div class="col-sm-12">
														<label for="complemento" class="col-4 col-form-label">Complemento</label>
														<input type="text" th:fiel="*{endereco.complemento}"
															class="form-control" maxlength="255" placeholder="Complemento"
															aria-describedby="Complemento">
													</div>

													<div class="col-sm-12">
														<label for="bairro" class="col-4 col-form-label">Bairro</label>
														<input type="text" th:field="*{endereco.bairro}"
															class="form-control" maxlength="45" placeholder="Bairro"
															aria-describedby="Bairro">
													</div>

													<div class="col-sm-12">
														<label for="cidade" class="col-4 col-form-label">Cidade</label>
														<input type="text" th:field="*{endereco.cidade}"
															class="form-control" maxlength="30" placeholder="Cidade"
															aria-describedby="Cidade">
													</div>
													
													<div class="col-sm-6">
														<label for="Cep" class="col-4 col-form-label">Cep</label>
														<input type="text" th:field="*{endereco.cep}"
															class="form-control" maxlength="8" placeholder="Cep"
															aria-describedby="Cep">
													</div>

													<div class="col-sm-12">
														<div class="form-group">
															<label class="col-4 col-form-label">Residencia</label>
															<select class="wide"
																th:field="*{endereco.residencia.idResidencia}">
																<option th:value="''"
																	data-display="Reside em casa ou apartamento?">Reside
																	em casa ou apartamento?</option>
																<option th:each="residencia : ${listaResidencias}"
																	th:unless="${residencia.tipoResidencia} == 'Todos'"
																	th:value="${residencia.idResidencia}"
																	th:text="${residencia.tipoResidencia}"></option>
															</select>
														</div>
													</div>

													<div class="col-sm-12">
														<div class="form-group">
														<button class="btn btn-primary btn-lg">
															<span class="glyphicon glyphicon-ok"></span> Salvar
														</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<br />
	<br />
	<br />
	<br />
	<br />

	<div th:replace="conteudo-padrao/footer :: footer"></div>

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js}"></script>
	<!-- PLUGIN DE SELEC DO NICE-SELECT  -->
	<script th:src="@{/js-quero-adotar/jquery.nice-select.min.js}"></script>
	
	<script type="text/javascript">
	
	$('select').niceSelect();
  	$("#celular").mask("(00)0.0000-0000");
  
  	$("#form-perfil").hide();
	$("#btn-desativar-conta").hide();
	$("#dados-perfil label[for='btn-foto'], #dados-perfil label[for='reset-foto']").hide();
  
  	// QUANDO O PERFIL FOR CLICADO
    $("#btn-ver-perfil").click(function() {
    	
    	$(this).addClass('list-group-item-info').find('span:last-child').addClass('linha-marca');
    	$("#btn-editar-perfil").removeClass('list-group-item-info').find('span').removeClass('linha-marca');
    	
    	$("#dados-perfil").fadeIn('slow');
        $("#form-perfil").hide();
        $("#btn-desativar-conta").hide();
    });

  	// QUANDO O EDITAR PERFIL FOR CLICADO
    $("#btn-editar-perfil").click(function() {
    	
    	$(this).addClass('list-group-item-info').find('span:last-child').addClass('linha-marca');
    	$("#btn-ver-perfil").removeClass('list-group-item-info').find('span').removeClass('linha-marca');
    	
      	$("#form-perfil").fadeIn('slow');
      	$("#dados-perfil").hide();
      	$("#btn-desativar-conta").show();
    });
   	
  	/* Quando campo ficar vazio muda a classe do botao */
  	$("#form-perfil .form-group input").keyup(function() {
  			if(event.key === "Backspace" || event.key === "Delete" || event.key === "Enter") {
		  		if($(this).val().length === 0) {
		  			$(this).parent().parent()
		  			.find('button').removeClass('btn-success').addClass('btn-primary').prop('disabled', true);
		  		}
		  	}else {
		  		$(this).parent().parent()
	  				.find('button').addClass('btn-success').removeClass('btn-primary').prop('disabled', false);
		  	}
  	});
  	
  	
  	/* Verifica se a url tem /editar */
	let url = location.href;
  	if(url.indexOf("/editar") !== -1) {
		$("#btn-editar-perfil").click();
	}
  	
  </script>
	<script type="text/javascript">
  	const $ = document.querySelector.bind(document);
	
	const previewImg = $('#preview-img');
	const fileChooser = $('#foto-usuario');
	
	fileChooser.onchange = e => {
	    const fileToUpload = e.target.files.item(0);
	    const reader = new FileReader();
	    reader.onload = e => previewImg.src = e.target.result;
	    reader.readAsDataURL(fileToUpload);
	    
	   	$("label[for='btn-foto']").style = "display: inline";
	   	$("label[for='reset-foto']").style = "display: inline";
	};
  </script>
</body>
</html>