<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style type="text/css">

/*.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
/*.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }*/
/*.navbar.navbar-inverse .nav-collapse { background-color: #222; }*/
/
*.navbar .nav-collapse .navbar-form {
	border-width: 0;
	box-shadow: none;
}

.nav-collapse>li {
	float: right;
}

.btn.btn-circle {
	border-radius: 50px;
}

.btn.btn-outline {
	background-color: transparent;
}

@media screen and (max-width: 767px) {
	.navbar .navbar-collapse .navbar-right>li:last-child {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar .nav-collapse {
		margin: 7.5px auto;
		padding: 0;
		left: auto;
		right: auto;
	}
	.navbar .nav-collapse .navbar-form {
		margin: 0;
	}
	.nav-collapse>li {
		float: none;
	}
}
</style>

<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<title>Visualização de Animais</title>


<link rel="stylesheet" type="text/css"
	th:href="@{/css-quero-adotar/quero-adotar.css}">

<link
	th:href="@{https://fonts.googleapis.com/css?family=Merriweather&display=swap}"
	rel="stylesheet">
</head>
<body>
	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-------------------------CORRETO ACIMA------------------>
	<section class="container">

		<!--  	<div class="filtro-title">
	<div class="container-fluid border-div">
    <div class="row">
		<div class="col-xs-6 col-sm-3">
			<div id="accordion" class="panel panel-primary behclick-panel border-div">
				<div class="panel-heading back-title  border-div">
					<h3 class="panel-title filtro-title  border-div">Filtrar Animais</h3>
				</div>
				<div class="panel-body  border-div" >
					<div class="panel-heading " >
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse0">
								<i class="indicator fa fa-caret-down" aria-hidden="true"></i> &nbsp;Espécie
							</a>
						</h4>
					</div>
					<div id="collapse0" class="panel-collapse collapse in  border-div" >
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" value="">Cão
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" value="">Gato
									</label>
								</div>
							</li>
						</ul>
					</div>

					<div class="panel-heading " >
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">
								<i class="indicator fa fa-caret-down" aria-hidden="true"></i> &nbsp; Porte
							</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in" >
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" value="">
										Pequeno
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" value="">
										Médio
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox"  >
									<label>
										<input type="checkbox" value="">
										Grande
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-heading" >
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> &nbsp; Sexo</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse in">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="checkbox">
									<label>
										<input type="checkbox" value="">
										Macho
									</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="checkbox" >
									<label>
										<input type="checkbox" value="">
										Fêmea
									</label>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

-->
		<div th:if="${session.usuarioLogado} != null ? ${session.usuarioLogado.role} == 'ROLE_ADMIN'"
			class="btn-group flex-wrap demoPadder button-position"
			role="group" aria-label="Basic example">
			<a th:href="@{/adm/cadastro/animal}" class="btn btn-light"
				id="btn-add-animal" title="Adicionar novo animal"><span
				class="glyphicon glyphicon-plus color-button"></span></a>
		</div>


		<br> <br />
		<!-- MODAL DE REMOVER ANIMAL -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="remocao">Remoção do Animal</h4>
					</div>
					<div class="modal-body">
						<form id="form-remove-animal" action="|/adm/remover/animal/|"
							method="post" role="form">
							<div class="form-group">
								<label for="recipient-name" class="control-label labels-name">Senha:</label>
								<input type="password" name="senhaAdm" class="form-control"
									id="senha">
							</div>
							<div class="form-group">
								<label for="message-text" class="control-label labels-name">Motivo
									da remoção:</label>
								<textarea name="motivo" class="form-control" id="message-text"></textarea>
							</div>
							<div class="modal-footer">

								<button type="submit" class="btn btn-style-rm">Remover</button>

								<button type="button" class="btn btn-cancel"
									data-dismiss="modal">Cancelar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- FIM MODAL DE REMOVER ANIMAL -->


		<!--AS IMAGENS DEVEM TER 2000 X 1334 PIXELS-->
		<div class="card">
			<div th:if="${errorListaAnimais}" th:text="${errorListaAnimais}"></div>
			<div class="row card-position" th:if="${listaAnimais}">
				<div class="col-md-4 " th:each="animal : ${listaAnimais}">
					<div class="card mb-4 shadow-sm card-border">
						<img th:src="${animal.caminhoFoto}" width="320px" height="200px"
							role="img" aria-label="Placeholder: miniatura" class="img">
						<div class="card-body">
							<p>
							<h4 class="nome-animal" th:text="${animal.nome}"></h4>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a class="btn btn-success btn-style"
										th:href="|/descricao-animal/${animal.idAnimal}|" role="button">Mais
										Informações</a>
								</div>
								<button th:if="${session.usuarioLogado} != null ? ${session.usuarioLogado.role} == 'ROLE_ADMIN'"
									id="btn-remove-animal" type="button"
									th:value="${animal.idAnimal}" class="btn btn-style-rm"
									data-toggle="modal" data-target="#exampleModal">Remover</button>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${sucesso}" th:text="${sucesso}"></div>
				<div th:if="${error}" th:text="${error}"></div>
			</div>
		</div>
	</section>

	<!-------------------------------Correto-------------------------------------->
	<br>
	<br>

	<div th:replace="conteudo-padrao/footer :: footer"></div>

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

	<script th:src="@{/js-quero-adotar/quero-adotar.js}"></script>
	<script th:inline="javascript">
		$("#btn-remove-animal").click(
				function() {
					let valorBtn = $(this).val();
					$("#form-remove-animal").attr("action",
							"/adm/remover/animal/" + valorBtn);
				});
		$('#exampleModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var recipient = button.data('whatever') // Extract info from data-* attributes
			// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
			// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var modal = $(this)
			modal.find('.modal-title').text('New message to ' + recipient)
			modal.find('.modal-body input').val(recipient);

		});
	</script>

</body>
</html>