<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

	<style type="text/css">
    
/*.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
/*.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }*/
/*.navbar.navbar-inverse .nav-collapse { background-color: #222; }*/
/*.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; left: auto; right: auto; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

	</style>
	
	<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

	<title>Visualização de Animais</title>

	
  <link rel="stylesheet" type="text/css" href="css-quero-adotar/quero-adotar.css">
</head>
<body>
<div th:replace="conteudo-padrao/navbar :: navbar"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-------------------------CORRETO ACIMA------------------>
<section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row" id="filtros">
          
          <!-- Second navbar for sign in -->
        <!--<div class="container">
    <div class="row">    
        <div class="col-md-4">
        <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-success btn-lg dropdown-toggle " data-toggle="dropdown" id="dropdownMenuButton">
                      <span id="search_concept">Filtrar por</span> <span class="caret"></span>
                    </button>
                  <ul class="dropdown-menu design-list" role="menu">
                     
                          <li><a href="#contains">Todos</a></li>

                  <li class="divider"></li>
                    <li><br></li>
                      <li class="dropdown-header">Espécie:</li> 
                          <li><a href="#contains">Cães</a></li>
                          <li><a href="#its_equal">Gatos</a></li>
                          <li><br/></li>
                  <li class="divider"></li>
                    <li><br/></li> 
                      <li class="dropdown-header">Sexo:</li> 
                          <li><a href="#contains">Masculino</a></li>
                          <li><a href="#its_equal">Feminino</a></li>
                          <li><br/></li>
                          <li class="divider"></li>
                          <li><br/></li>
                      <li class="dropdown-header">Porte:</li> 
                          <li><a href="#contains">Pequeno</a></li>
                          <li><a href="#its_equal">Médio</a></li>
                          <li><a href="#its_equal">Grande</a></li>
                          
                    </ul>
                </div>        
            </div>
        </div>
  </div>
</div>-->
<div class="filtro">
  <h3 class="tit-filtro">Filtrar por:</h3>
</div>
  <div class="btn-group">
 <div class="btn-group demoPadder color" role="group" aria-label="Basic example">
 
      <button type="button" class="btn btn-info">Espécie:</button>
      <button type="button" class="btn btn-success">Todos</button>
      <button type="button" class="btn btn-success">Cães</button>
      <button type="button" class="btn btn-success">Gatos</button>
    </div>
    
 <div class="btn-group flex-wrap demoPadder" role="group" aria-label="Basic example">

      <button type="button" class="btn btn-info">Porte:</button>
      <button type="button" class="btn btn-success">P</button>
      <button type="button" class="btn btn-success">M</button>
      <button type="button" class="btn btn-success">G</button>
    </div>
    
 <div class="btn-group flex-wrap demoPadder" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-info">Sexo:</button>
      <button type="button" class="btn btn-success">Fêmea</button>
      <button type="button" class="btn btn-success">Gatos</button>
    </div>
    </div>

  <div class="btn-group flex-wrap demoPadder" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">
        <a th:href="@{/cadastro/animal}">+</a></button>
 </div>
   
          
        <br><br/>

        <!--AS IMAGENS DEVEM TER 2000 X 1334 PIXELS-->
        <div th:if="@{errorListaAnimais}" th:text="@{errorListaAnimais}"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal1.jpeg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Fiora</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal2.png"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Zed</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal3.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Kayn</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="img/animais/animal4.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
             <p><h4>Jhin</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal5.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Kai'sa</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="img/animais/animal6.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
             <p><h4>Darius</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <br/>
         <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal7.jpeg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Neeko</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal8.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Rengar</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal9.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Gatito de Botas</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <br/>
         <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal10.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Yuumi</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal11.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Yasuo</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="img/animais/animal12.jpg"  width="100%" height="100%" role="img" aria-label="Placeholder: miniatura"><rect width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p><h4>Morgana</h4></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  	<a class="btn btn-info" th:href="@{/descricao-animal}" role="button">Mais Informações</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
</div>
</div>
</div>
        
</section>

<!-------------------------------Correto-------------------------------------->
<br>
<br>

<div th:replace="conteudo-padrao/footer :: footer"></div>

<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

<script src="js-quero-adotar/visu-animais.js"></script>

</body>
</html>