 ul {
margin: 0;
padding: 0;
list-style: none;
width: 150px;
}

  ul li {
position: relative;
}

  li ul {
position: absolute;
left: 149px;
top: 0;
display: none;
}


 ul li a {
   display: block;
   text-decoration: none;
   color: #E2144A;
   background: #fff;
   padding: 5px;
   border: 1px solid #ccc; 
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

li:hover ul { display: block; }
