<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style>
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
</style>

<link th:replace="conteudo-padrao/estilos :: estilos-padrao">
<link rel="stylesheet" th:href="@{/css-quero-adotar/selecao.css}">

<title>Candidatos</title>

</head>
<body>
	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-------------------------CORRETO ACIMA------------------>


	<div class="container">
		<div class="row">
			<div class="conteudo">
				<table class="table table-responsive table-bordered" id="table-selecao">
					<thead>
						<tr>
							<th>ID</th>
							<th>Animalzinho</th>
							<th>Processos</th>
							<th>Situação</th>
							<th>Seleção</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${listaSelecoes}" th:each="selecao : ${listaSelecoes}">
							<td th:text="${selecao.idSelecao}" title="Identificador"></td>
							<td th:text="${selecao.idAnimal.nome}" title="nome do animalzinho"></td>
							<td th:text="${selecao.processos.size()}" title="quantidade de processos"></td>
							<td th:text="${selecao.situacao} == 1 ? |ETAPA ${selecao.situacao}| : 'Fechada'" title="etapa da seleção"></td>
							<td><a class="btn btn-info btn-sm" th:href="@{|/adm/selecoes/${selecao.idSelecao}/processos|}" title="Ver processos"><i class="fas fa-eye"></i> Ver</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<br />
	<br />

	<!-------------------------------Correto-------------------------------------->
	<div th:replace="conteudo-padrao/footer :: footer"></div>

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

</body>
</html>