<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style>
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
</style>

<link th:replace="conteudo-padrao/estilos :: estilos-padrao">

<title>Candidatos</title>

</head>
<body>
	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-------------------------CORRETO ACIMA------------------>


	<div class="container">
		<div class="row">
			<div class="conteudo">
				<table id="customers">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome do Animalzinho</th>
							<th>Quantidade de processos</th>
							<th>Situação</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${listaSelecoes}" th:each="selecao : ${listaSelecoes}">
							<td th:text="${selecao.idSelecao}"></td>
							<td th:text="${selecao.idAnimal.nome}"></td>
							<td th:text="${selecao.processos.size()}"></td>
							<td th:text="${selecao.aberta} ? 'Aberta' : 'Fechada'"></td>
							<td><a th:href="@{|/adm/selecoes/${selecao.idSelecao}/processos|}">Visualizar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br />
	<br />

	<!-------------------------------Correto-------------------------------------->
	<br>
	<br>

	<div th:replace="conteudo-padrao/footer :: footer"></div>

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

</body>
</html>