<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style>
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

</style>

<link th:replace="conteudo-padrao/estilos :: estilos-padrao">
<link rel="stylesheet" th:href="@{/css-quero-adotar/selecao.css}">

<title>Seleção - Processos Seletivos</title>

</head>
<body>
	<div th:replace="conteudo-padrao/navbar :: navbar"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-------------------------CORRETO ACIMA------------------>


	<div class="container">
		<div class="row">
			<div class="conteudo">
				<a th:href="@{/adm/selecoes}" id="btn-voltar" class="btn btn-info btn-sm"><i class="fas fa-arrow-left"></i> Voltar</a>
				<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
				<div class="row">
					<h2 id="title-pag">LISTA DE PARTICIPANTES</h2>
					<div class="col-sm-4">
						<img th:src="${selecao.idAnimal.caminhoFoto}" alt="Imagem do animalzinho" width="335" height="350" th:title="|Foto do animalzinho ${selecao.idAnimal.nome}|">
						<div class="col-sm-11" id="status-selecao">
							<div th:class="${selecao.situacao} > 1 ? etapa-concluida">
								<p th:if="${selecao.situacao} == 1"><span class="badge">1</span> ETAPA<span class="badge">Em andamento</span></p>
								<p th:if="${selecao.situacao} > 1"><span class="badge">1</span> ETAPA <span class="badge">Concluído</span></p>
							</div>
							<hr>
							<div th:class="${selecao.situacao} > 2 ? etapa-concluida : etapa-pendente">
								<p th:if="${selecao.situacao} < 2"><span class="badge">2</span> ETAPA<span class="badge"><i class="fas fa-hourglass-half"></i></span></p>
								<p th:if="${selecao.situacao} == 2"><span class="badge">2</span> ETAPA <span class="badge">Em andamento</span></p>
								<p th:if="${selecao.situacao} > 2"><span class="badge">2</span> ETAPA <span class="badge">Concluido</span></p>
							</div>
							<hr>
							<div th:class="${selecao.situacao} == 3 ? etapa-concluida : etapa-pendente">
								<p th:if="${selecao.situacao} < 3"><span class="badge">3</span> ETAPA<span class="badge"><i class="fas fa-hourglass-half"></i></span></p>
								<p th:if="${selecao.situacao} == 3"><span class="badge">3</span> ETAPA <span class="badge">Concluído</span></p>
							</div>
							<hr>
							<div th:if="${selecao.situacao} < 3">
								<a th:href="@{|/adm/iniciar/etapa/${selecao.situacao+1}|}" class="btn btn-info">Iniciar Próxima Etapa</a>
							</div>
							<div th:if="${selecao.situacao} == 3">
								<a th:href="@{|/adm/iniciar/etapa/3|}" class="btn btn-info">Iniciar Próxima Etapa</a>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<table id="customers" class="table-responsive">
							<thead>
								<tr>
									<th>Visitado</th>
									<th>Nome do Participante</th>
									<th>Pontuação</th>
									<th>Data de Entrada</th>
									<th th:if="${selecao.situacao} == 1">Respostas</th>
									<th th:if="${selecao.situacao} == 2">Avaliação</th>
									<th>Excluir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="processo : ${selecao.processos}">
									<td th:if="${processo.avaliacao} == null" title="Participante não visitado"><i class="fas fa-exclamation-triangle"></i></td>
									<td th:unless="${processo.avaliacao} == null" title="Participante visitado"><i class="far fa-check-circle"></i></td>
									<td title="Nome do Participante"><i class="fas fa-user-alt"></i> <span th:text="${processo.idUsuario.nome}"></span></td>
									<td title="Pontuação"><i class="far fa-star"></i> <span th:text="${processo.pontuacaoFinal}"></span></td>
									<td title="Data de Entrada"><i class="far fa-calendar-alt"></i> <span
										th:text="${#temporals.format(processo.dataRegistro, 'dd-MM-yyyy')}"></span></td>
										
									<td title="Ver Respostas" th:if="${selecao.situacao} == 1">
										<a th:href="@{|/adm/selecoes/${selecao.idSelecao}/processos/${processo.idProcesso}/respostas|}" class="btn btn-info btn-sm">
											<i class="fas fa-eye"></i> Ver
										</a>
									</td>
									<td title="Ver Respostas" th:if="${selecao.situacao} == 2">
										<a th:href="@{|/adm/selecoes/${selecao.idSelecao}/processos/${processo.idProcesso}/avaliacao|}" class="btn btn-info btn-sm">
											<i class="fas fa-eye"></i> Ver
										</a>
									</td>
									
									<td title="Remover Participante">
										<form class="form-inline"
											th:action="@{|/adm/selecoes/${selecao.idSelecao}/processos/${processo.idProcesso}|}"
											th:method="delete">
											<input name="_method" type="hidden" th:value="delete" />
											<div class="form-group">
												<button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
											</div>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />

	<!-------------------------------Correto-------------------------------------->
	<br>
	<br>

	<div th:replace="conteudo-padrao/footer :: footer"></div>

	<div th:replace="conteudo-padrao/scripts :: scripts-padrao"></div>

</body>
</html>